#search_tool{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  width:100%;
}

#search_tool #search {
/*background-color: #ff8c00;*/
  margin-bottom: 0;
  float: left;
}
#search_tool #msg {
  font-size: 1.5em;
  clear: both;
}

#search_tool  #save {
  float: left;
}
#search_tool  #image_loader{
    float:left;
  }
#search_tool  #detail {
  float: left;
}
#search_tool  #kana {
  float: left;
}
#search_tool  #kana_edit {
    width:80%;
  }
#search_tool  #accent {
  float: left;
}
#search_tool #accent_edit {
    width:80%;
  }
#search_tool  #gogen {
  float: left;
}
#search_tool  #gogen_edit {
    width:80%;
  }
#search_tool #add_forvo.no_audio {
  font-size: 1.2em; 
  color: white;
  background-color: red;
}
 #search_tool  #row2 {
  clear: both;
}
#search_tool #dictionary {
  clear: both;
}
#search_tool #meaning {
width : 50% ;
font-size: 80%;
float: left;
}

#search_tool #chinese{
width : 50% ;
font-size: 80%;
float: left;
}

#search_tool ul.chinese
{
  padding: 0;
}
#search_tool ul.chinese>li
{
  list-style-type:none;
}

#search_tool #audioEditor{
  margin: 30px 20px 0 20px;
  text-align: center;
}
#search_tool #audioEditorButtons{
  margin-top: 20px
}
#search_tool .AEButton{
  font-size: 1.4em;
}

/*iphone 6 plus*/
@media screen and (min-width: 320px) and (max-width: 499px){ 
  

  #search_tool #search {
/*background-color: #ff8c00;*/
  margin-bottom: 0;
  width: 50%;
  float: left;
}
#search_tool #word {
    width:80%;
  }
#search_tool #search_button{
  display:none;
}
#search_tool #search_tool #kana {
/*background-color: #ff8c00;*/
  width: 50%;
  float: left;
}
#search_tool #accent {
/*background-color: #ff8c00;*/
  width: 20%;
  float: left;
}
#search_tool #gogen {
/*background-color: #ff8c00;*/
  width: 40%;
  float: left;
}
#search_tool #detail {
/*background-color: #ff8c00;*/
  width: 40%;
  float: left;
}
#search_tool #meaning {
width : 100% ;
font-size: 80%;
float: none;
}
#search_tool #chinese{
width : 100% ;
font-size: 80%;
float: none;
}
#search_tool #forPhone{
  width: 100%;
  display: block;
  position:fixed;
  bottom: 0px;
  z-index:900;
  background-color: lightgrey;
}
#search_tool #forPhoneRow1 > button{
  font-size: 1.2em;
}
#search_tool #save {
  float: none;
}
#search_tool #image_loader{
  float: none;
}
}
 
/*For loading animation*/
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

#overlay { 
   background-color: #111;
   opacity: 0.9;
   width: 100%;
   height: 100%;
   position: absolute;
   /*top: 0;*/
   left: 0;
   z-index: 1000;
}

.eye{
  width: 20px; height: 8px;
  background-color: #eee;
  border-radius:0px 0px 20px 20px;
  position: relative;
  top: 40px;
  left: 10px;
  box-shadow:  40px 0px 0px 0px #eee;              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #111;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px #eee;
    -webkit-animation:node 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}
.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #111;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px #eee;
  -webkit-animation:node2 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}

  @-webkit-keyframes node 
      {
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
       }

  @-webkit-keyframes node2
      {
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
       }

.circ{
  -webkit-backface-visibility: hidden;
   margin: 0px auto;
  width: 180px; height: 180px;
  background-color: #111;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: -1;  
  left: 0%;
  top: 20%;
  overflow: hidden;
}

.hands{
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;height: 120px;
  position: absolute;
  background-color: #111;
  border-radius:20px;
  box-shadow:-1px -4px 0px 0px #eee;
  -webkit-transform:rotate(45deg);
  top:75%;left: 16%;
  z-index: 1;
  -webkit-animation:node2 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.load{  position: absolute;
  width: 100px; height: 20px;
   margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:30px;
  font-weight:400;
  color:#eee;
  left: 10%;
  top: 5%;
}